@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins",sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url('Background_image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    width: 100%;
    height: 60px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.logo a{
    color: black;
    text-decoration: none;
    padding: 0px 10px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 10px;
}
.logo h3{
    font-size: 1.5rem;
}
.logo i{
    font-size: 30px;
    font-weight: 700;
    margin: 0px 5px;
}
.logo a:hover{
    box-shadow: 0 0 10px black;
}
/* .logo a:hover{
    text-shadow: 
    0 0 3px #414141,
    0 0 5px #383838,
    0 0 15px #363636,
    0 0 20px #2b2b2b,
    0 0 25px #2c2c2c,
    0 0 30px #1b1b1b,
    0 0 35px #000000;
} */
 .nav-option{
    display: flex;
    align-items: center;
 }
.nav-option a {
    color: black;
    margin: 0px 10px;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.nav-option a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.nav-option button{
    height: 35px;
    width: 150px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    margin: 0px 10px;
    cursor: pointer;
}
.nav-option button:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: black;
    color: white;
}
.sidebar{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    display: none;
    flex-direction: column;
}
.sidebar a{
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 0px;
    padding-left: 20px;
}
.sidebar a:hover{
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
}
.sidebar-option a{
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 0px;
    padding-left: 20px;
}
.sidebar-option a:hover{
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
}
.sidebar-logo a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 3px solid transparent;
}
.sidebar-logo:hover{
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
}
.sidebar-logo h3{
    font-size: 1.5rem;
}
.sidebar-logo i{
    font-size: 30px;
    font-weight: 700;
    margin: 0px 5px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration-form{
    height: auto;
    width: 500px;
    margin: 70px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}
.registration-form h2{
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
}
.registration-form:hover{
    box-shadow: 0 0 2px white;
}
.registration-form h2:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.details{
    margin: 0px 40px 0px 30px ;
}
.input-box{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    padding: 5px 0px 10px 0px;
    position: relative;
    overflow-x: hidden;
}
.input-box p{
    font-size: 1rem;
    font-weight: 600;
    padding-right: 20px;
}
.input-box input{
    width: 1000px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}
.input-box input::placeholder{
    color: rgb(15, 15, 15);
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: light-dark(rgb(157, 255, 0), rgb(194, 28, 28)) !important;
    color: fieldtext !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    
    /* This can help with transparency or border radius issues in some cases */
    -webkit-background-clip: text !important;
    background-clip: text !important;
}

.input-box input:focus{
    outline: none;
    box-shadow: none;
}
.input-box i{
    position: absolute;
    right: 5px;
    font-size: 1.5rem;
}
input[type="date"] {
    color-scheme: dark;
}
input[type="date"]:invalid{
    color: rgb(15, 15, 15);
}
input[type="date"]:valid{
    color: white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA10lEQVR4AeyVsQ3CMBBFgTXoqKBiDxoGQWIZxCA0DEIBokMsAu8ibJ1PZwWOQJpE/ycX/3z/+BQrk9GPj94DHixQyMWFaEJXlMG/r2BN6gXKWwkpG0jtsRE5Je1MvYIZdgV7lDmMYoFxBzNswDQr8WKmrTZAa53UtYAxs0eIrUQtoHzqi7shoLV5kRalTaWv1aBIQHUyTxgCvK4UY5EWeTu8mFTfRAK0v7W2AfeXQ3+Cn9Riv8kp0QZsEa4wihPGDcywAQcU+eF4fX5nbIn/CDNsQBa6Kp4AAAD//7cSzOEAAAAGSURBVAMArkUrMUoptyAAAAAASUVORK5CYII=') no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 7px;
}
.input-box select::selection{
    background-color: transparent;
    color: rgb(15, 15, 15);
}
.input-box select{
    width: 1000px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: rgb(15, 15, 15);
    font-size: 1rem;
    -webkit-text-fill-color: rgb(255, 255, 255);
}
.course{
    color: rgb(15, 15, 15);
}
.input-box select:focus{
    outline: none;
    box-shadow: none;
    color: white;
    background-color: transparent;
}

.input-box select option {
    margin: 40px;
    background: rgb(58, 58, 58);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.submit-btn{
    margin: 20px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn button:hover{
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
    padding-bottom: 3px;
}
.submit-btn button{
    height: 40px;
    width: 150px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0px 10px;
    cursor: pointer;
}
.check-box{
    display: flex;
    align-items: center;
    padding: 5px 0px 10px 0px;
}
.check-box p{
    padding-left: 10px;
    font-size: 1rem;
    padding-right: 20px;
}
input[type="checkbox"] {
  accent-color: black;
}
.check-box p:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.menu-open-icon{
    display: none;
}
input.large {
    display: inline-block;
}
input.small {
    display: none;
}

@media (max-width: 820px) {
    body{
        height: 100vh;
    }
    .registration-form{
        width: 400px;
    }
    .details {
    margin: 0px 20px;
    }
    .hideonmobile{
        display: none;
    }
    .menu-open-icon{
        display: flex;
    }

}
@media (max-width: 600px) {
    .registration-form{
        width: 400px;
    }
}
@media (max-width: 500px) {
    .registration-form{
        width: 400px;
    }
}
@media (max-width: 450px) {
    .registration-form{
        width: 350px;
    }
}

@media (max-width: 400px) {
    body{
        height: 100vh;
    }
    .registration-form{
        width: 300px;
    }
    .details {
    margin: 0px 15px;
    }
    .input-box p{
        padding-right: 5px;
    }
    #fname::placeholder{
        display: none;
    }
    input.large {
        display: none;
    }
    input.small {
        display: inline-block;
    }
    .logo a{
        margin-right: 50px;
    }

}

